{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load static %}
{% load i18n crispy_forms_tags %}

{% block title %}
  {% trans 'Reset password' %}
{% endblock %}

{% block contentall %}
  <section class="my-lg-14 my-8">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="{% static 'web/assets/images/svg-graphics/fp-g.svg' %}" alt="" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
          <div>
            <div class="mb-lg-9 mb-5">
              <!-- heading -->
              <h1 class="mb-2 h2 fw-bold">Forgot your password?</h1>
              <p>
                {% blocktrans %}Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.{% endblocktrans %}
              </p>
            </div>

            <form method="post" action="">
              {% csrf_token %}
              {{ form|crispy }}
              {% comment %} <input type="submit" value="{% trans 'Reset password' %}" /> {% endcomment %}
              <div class="col-12 d-grid gap-2">
                <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
                <a href="{% url "auth_login" %}" class="btn btn-light">Back</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{# This is used by django.contrib.auth #}
