{% extends 'web/partials/baseall.html' %}
{% load static %}
{% block contentall %}
  {% comment %} <main> {% endcomment %}
    <!-- section -->
    <div class="mt-4">
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- col -->
          <div class="col-12">
            <!-- breadcrumb -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="#!">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url "web:shop" %}">Shop</a>
                </li>
                {% if title %}
                <li class="breadcrumb-item">
                  <a href="">{{ title }}</a>
                </li>
                {% endif %}
                {% if Sub_title %}
                <li class="breadcrumb-item active" aria-current="page">{{ Sub_title }}</li>
                {% endif %}
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->
    <div class="mt-8 mb-lg-14 mb-8">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row gx-10">
          <!-- col -->
          <aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
            <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
              <div class="offcanvas-header d-lg-none">
                <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body ps-lg-2 pt-lg-0">
                <div class="mb-8">
                  <!-- title -->
                  <h5 class="mb-3">Categories</h5>
                  <!-- nav -->
                  <ul class="nav nav-category" id="categoryCollapseMenu">
                    {% for category in categories %}
                    <li class="nav-item border-bottom w-100">
                      <a href="#" class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#{{ category.slug }}" aria-expanded="false" aria-controls="{{ category.slug }}">{{ category.name }} <i class="feather-icon icon-chevron-right"></i></a>
                      <!-- accordion collapse -->
                      <div id="{{ category.slug }}" class="accordion-collapse collapse" data-bs-parent="#categoryCollapseMenu">
                        <div>
                          <!-- nav -->

                          <ul class="nav flex-column ms-3">
                            {% for subcategory in category.subcategory_set.all %}
                            <!-- nav item -->
                            <li class="nav-item">
                              <a href="?subcategory={{subcategory.slug}}" class="nav-link">{{ subcategory.name }} ({{ subcategory.get_sub_product_count }})</a>
                            </li>
                            {% endfor %}
                            <!-- nav item -->
                          </ul>
                        </div>
                      </div>
                    </li>
                    <!-- nav item -->
                    {% endfor %}
                    
                  </ul>
                </div>

                <div class="mb-8">
                  <h5 class="mb-3">Stores</h5>
                  <div class="my-4">
                    <!-- input -->
                    <input type="search" class="form-control" placeholder="Search by store" />
                  </div>
                  <!-- form check -->
                  <div class="form-check mb-2">
                    <!-- input -->
                    <input class="form-check-input" type="checkbox" value="" id="eGrocery" checked />
                    <label class="form-check-label" for="eGrocery">E-Grocery</label>
                  </div>
                </div>

                            <div class="mb-8 d-none">
                              <!-- price -->
                              <h5 class="mb-3">Price</h5>
                              <div>
                                <!-- range -->
                                <div id="priceRange" class="mb-3"></div>
                                <small class="text-muted">Price:</small> <span id="priceRange-value" class="small"></span>
                              </div>
                            </div> 
                
                
                            <div class="sidebar-widget mb-6">
                                <h5 class="widget-title">Price</h5>
                                <div class="widget-price">
                                    <input id="price-range" type="text">
                                </div>
                            </div>
                            <!-- Sidebar Widget End -->
                           <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                           <script src="https://cdn.jsdelivr.net/npm/ion-rangeslider@2.3.1/js/ion.rangeSlider.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                   // Function to get URL parameter by name
                                   function getParameterByName(name, url) {
                                       if (!url) url = window.location.href;
                                       name = name.replace(/[\[\]]/g, "\\$&");
                                       var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                           results = regex.exec(url);
                                       if (!results) return null;
                                       if (!results[2]) return '';
                                       return decodeURIComponent(results[2].replace(/\+/g, " "));
                                   }
                           
                                   // Get min_price and max_price from URL parameters
                                   var initialMinPrice = parseInt(getParameterByName('min_price')) || 0;
                                   var initialMaxPrice = parseInt(getParameterByName('max_price')) || 50000;
                           
                                   // Initialize ionRangeSlider with initial values
                                   $("#price-range").ionRangeSlider({
                                       type: "double",
                                       grid: false,
                                       min: 0,
                                       max: 50000,
                                       from: initialMinPrice,
                                       to: initialMaxPrice,
                                       prefix: "$",
                                       onFinish: function (data) {
                                           // Extract the selected price range and update the URL
                                           var queryParams = 'min_price=' + data.from + '&max_price=' + data.to;
                                           window.location.href = '/shop/?' + queryParams;
                                           $.ajax({
                                            url: '{% url "web:filter-range-price" %}',
                                            type: 'GET',
                                            data: queryParams,
                                            success: function (response) {
                                                // Update the product list with filtered data
                                                $('.product-list').html(response);
                                            },
                                            error: function (error) {
                                                console.log(error);
                                            }
                                        });
                                       }
                                   });
                               });
                           </script> 
                           
                            
                <div class="mb-10">
                  <!-- price -->
                  <h5 class="mb-3">Brand</h5>
                  {% for b in brands %}
                  <div class="form-check mb-2">
                  <div>
                    <input class="form-check-input filter-checkbox" type="checkbox" id="adidas-{{b.id}}" data-filter="brands" value="{{b.slug}}">
                    <label class="form-check-label widget-filter-item-text" for="adidas-{{b.id}}">{{ b.title }}</label>
                    <span class="fs-xs text-muted">({{b.store_count}})</span>
                  </div>
                </div>
                {% endfor %} 
              </div> 



                <!-- rating -->
                <div class="mb-8 ">
                  <h5 class="mb-3">Rating</h5>
                  <div>
                    <!-- form check -->
                    <div class="form-check mb-2">
                      <!-- input -->
                      <input class="form-check-input" type="checkbox" value="" id="ratingFive" />
                      <label class="form-check-label" for="ratingFive">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                      </label>
                    </div>
                    <!-- form check -->
                    <div class="form-check mb-2">
                      <!-- input -->
                      <input class="form-check-input" type="checkbox" value="" id="ratingFour" checked />
                      <label class="form-check-label" for="ratingFour">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                      </label>
                    </div>
                    <!-- form check -->
                    <div class="form-check mb-2">
                      <!-- input -->
                      <input class="form-check-input" type="checkbox" value="" id="ratingThree" />
                      <label class="form-check-label" for="ratingThree">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                      </label>
                    </div>
                    <!-- form check -->
                    <div class="form-check mb-2">
                      <!-- input -->
                      <input class="form-check-input" type="checkbox" value="" id="ratingTwo" />
                      <label class="form-check-label" for="ratingTwo">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                      </label>
                    </div>
                    <!-- form check -->
                    <div class="form-check mb-2">
                      <!-- input -->
                      <input class="form-check-input" type="checkbox" value="" id="ratingOne" />
                      <label class="form-check-label" for="ratingOne">
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                        <i class="bi bi-star text-warning"></i>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="mb-8 position-relative">
                  <!-- Banner Design -->
                  <!-- Banner Content -->
                  <div class="position-absolute p-5 py-8">
                    <h3 class="mb-0">Fresh Fruits</h3>
                    <p>Get Upto 25% Off</p>
                    <a href="#" class="btn btn-dark">Shop Now<i class="feather-icon icon-arrow-right ms-1"></i></a>
                  </div>
                  <!-- Banner Content -->
                  <!-- Banner Image -->
                  <!-- img --><img src="../assets/images/banner/assortment-citrus-fruits.png" alt="" class="img-fluid rounded" />
                  <!-- Banner Image -->
                </div>
              </div>
            </div>
          </aside>
          <section class="col-lg-9 col-md-12">
            <!-- card -->
            {% if Sub_title  %}
            <div class="card mb-4 bg-light border-0">
              <!-- card body -->
              <div class="card-body p-9">
                <h2 class="mb-0 fs-1">{{ Sub_title }}</h2>
              </div>
            </div>
            {% endif %}
            <!-- list icon -->
            <div class="d-lg-flex justify-content-between align-items-center">
              <div class="mb-3 mb-lg-0">
                <p class="mb-0">
                  <span class="text-dark">{{products.count}}</span> Products found
                </p>
              </div>

              <!-- icon -->
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <a href="shop-list.html" class="text-muted me-3"><i class="bi bi-list-ul"></i></a>
                    <a href="shop-grid.html" class="me-3 active"><i class="bi bi-grid"></i></a>
                    <a href="shop-grid-3-column.html" class="me-3 text-muted"><i class="bi bi-grid-3x3-gap"></i></a>
                  </div>
                  <div class="ms-2 d-lg-none">
                    <a class="btn btn-outline-gray-400 text-muted" data-bs-toggle="offcanvas" href="#offcanvasCategory" role="button" aria-controls="offcanvasCategory">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter me-2">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                      </svg>Filters
                    </a>
                  </div>
                </div>

                <div class="d-flex mt-2 mt-lg-0">
                  <div class="me-2 flex-grow-1">
                    <!-- select option -->
                    <select class="form-select">
                      <option selected>Show: 50</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                  <div>
                    <!-- select option -->
                    <form method="get" action="">
                        <select name="sort_by" class="form-select" onchange="this.form.submit()">
                            <option value="all_products" {% if request.GET.sort_by == 'all_products' %}selected{% endif %}>Sort by: All Products</option>
                            <option value="low_to_high" {% if request.GET.sort_by == 'low_to_high' %}selected{% endif %}>Price: Low to High</option>
                            <option value="high_to_low" {% if request.GET.sort_by == 'high_to_low' %}selected{% endif %}>Price: High to Low</option>
                            <option value="rating" {% if request.GET.sort_by == 'rating' %}selected{% endif %}>Rate: High to Low</option>
                            <!-- Add other options for sorting if needed -->
                        </select>
                    </form>
                </div>
                </div>
              </div>
            </div>
            <!-- row -->
            <div class="row g-4 row-cols-xl-4 row-cols-lg-3 row-cols-2 row-cols-md-2 mt-2 " id="filteredStore">
              <!-- col -->
              {% for product in products %}
              {% include "web/include/product.html" %}
              {% endfor %}
              <!-- col -->
            </div>
            {% if is_paginated %}

            <div class="row mt-8">
              <div class="col">
                <!-- nav -->
                <nav>
                  <ul class="pagination justify-content-center ">

                    <li class="page-item {% if not page_obj.has_previous %}action{% endif %}">
                      <a class="page-link mx-1" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}&subcategory={{ request.GET.subcategory }}{% else %}#{% endif %}" aria-label="Previous">
                        <i class="feather-icon icon-chevron-left"></i></a>
                    </li>

                    {% for num in page_obj.paginator.page_range %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %} ">
                      <a class="page-link mx-1 active" href="?page={{ num }}&subcategory={{ request.GET.subcategory }}">{{ num }}</a>
                    </li>
                    {% endfor %}

                    <li class="page-item {% if not page_obj.has_next %}action{% endif %}">
                      <a class="page-link mx-1 text-body" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}&subcategory={{ request.GET.subcategory }}{% else %}#{% endif %}" aria-label="Next">
                        <i class="feather-icon icon-chevron-right"></i></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            {% endif %}

          </section>
        </div>
      </div>
    </div>
  </main>

  <!-- modal -->
  <!-- Modal -->
  {% for product in products %}
  <div class="modal fade" id="quickViewModal-{{ product.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-8">
          <div class="position-absolute top-0 end-0 me-3 mt-3">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="product  product-modal">
                {% if product.get_image.image %}
                <div class="zoom" onmousemove="zoom(event)" style="background-image: url({{ product.get_image.image.url }});">
                    <img class="change-img" src="{{ product.get_image.image.url }}" alt="{{ product.title }}">
                </div>
              {% else %}
                  <p>No image available</p>
              {% endif %}
              </div>
              <!-- img slide -->
              <!-- product tools --> 
              {% comment %} {% if product.get_images %} {% endcomment %}
              <div class="product-tools">
                <div class="thumbnails row g-3" id="productModalThumbnails">
                  {% if product.get_image.image %}
                  <div class="col-3" class="tns-nav-active">
                    <div class="thumbnails-img" data-image-url="{{ product.get_image.image.url }}">
                      <img src="{{ product.get_image.image.url }}" alt="Tradoxi">
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% comment %} {% endif %} {% endcomment %}
            </div>
            <div class="col-lg-6">
              <div class="ps-lg-8 mt-6 mt-lg-0">
                <a href="#!" class="mb-4 d-block">{{ product.subcategory }}</a>
                <h2 class="mb-1 h1">{{ product.name }}</h2>
                <div class="mb-4">
                 <small class="text-warning"> 
                  {% for star in "12345" %}
                    {% if star|add:0 <= product.rating %}
                    <i class="bi bi-star-fill"></i>
                    {% else %}
                    <i class="bi bi-star"></i>
                    {% endif %}
                  {% endfor %}
                  </small><a href="#" class="ms-2">({{product.rating}})</a>
                </div>
                <div class="fs-4">
                  <span class="fw-bold text-dark sale_price">
                    {% if product.get_sale_price %}
                    ₹{{ product.get_sale_price|floatformat:0  }}
                    {% endif %}
      
                    {% if product.get_sale_price_t %}
                    ₹{{ product.get_sale_price_t|floatformat:0 }}
                    {% endif %}
                  </span>
                  <span class="text-decoration-line-through text-muted original_price">
                    {% if product.get_regular_price %}
                    ₹{{ product.get_regular_price|floatformat:0 }}
                    {% endif %}
      
                    {% if product.get_regular_price_t %}
                    ₹{{ product.get_regular_price_t|floatformat:0 }}
                    {% endif %}
                  </span>
                  <span>
                    <small class="fs-6 ms-2 text-danger offer_percent">
                      {% if product.get_offer_percent_first %}
                      {{product.get_offer_percent_first|floatformat:2}}% Off
                      {% endif %}
    
                      {% if product.get_offer_percent_first_t %}
                      {{product.get_offer_percent_first_t|floatformat:2}}% Off
                      {% endif %}</small>
                  </span>
                </div>
                <hr class="my-6" />
                <div class="mb-4">
                  <button type="button" class="btn btn-outline-secondary">250g</button>
                  <button type="button" class="btn btn-outline-secondary">500g</button>
                  <button type="button" class="btn btn-outline-secondary">1kg</button>
                </div>
                <div>
                  <!-- input -->
                  <!-- input -->
                  <div class="input-group input-spinner">
                    <input type="button" value="-" class="button-minus btn btn-sm" data-field="quantity" />
                    <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input" />
                    <input type="button" value="+" class="button-plus btn btn-sm" data-field="quantity" />
                  </div>
                </div>
                <div class="mt-3 row justify-content-start g-2 align-items-center">
                  <div class="col-lg-4 col-md-5 col-6 d-grid">
                    <!-- button -->
                    <!-- btn -->
                    <button type="button" class="btn btn-primary"><i class="feather-icon icon-shopping-bag me-2"></i>Add to cart</button>
                  </div>
                  <div class="col-md-4 col-5">
                    <!-- btn -->
                    <a class="btn btn-light" href="#" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Compare"><i class="bi bi-arrow-left-right"></i></a>
                    <a class="btn btn-light" href="#!" data-bs-toggle="tooltip" data-bs-html="true" aria-label="Wishlist"><i class="feather-icon icon-heart"></i></a>
                  </div>
                </div>
                <hr class="my-6" />
                <div>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td>Product Code:</td>
                        <td>FBB00255</td>
                      </tr>
                      <tr>
                        <td>Availability:</td>
                        <td>In Stock</td>
                      </tr>
                      <tr>
                        <td>Type:</td>
                        <td>Fruits</td>
                      </tr>
                      <tr>
                        <td>Shipping:</td>
                        <td>
                          <small>01 day shipping.<span class="text-muted">( Free pickup today)</span></small>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% include "web/include/filter-checkbox.html" %}
{% endblock %}

{% block modal %}
  {% include 'web/include/modal/quickview.html' %}
{% endblock %}

{% block js %}
  <script src="{% static 'web/assets/js/index.js' %}"></script>
  <script src="{% static 'web/assets/js/filter-checkout.js' %}"></script>
{% endblock %}